# Dependencies
node_modules/
venv/
env/
.venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Artifacts
.next/
build/
dist/
out/
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Misc
test.txt
debug_log.txt
*.db
*.sqlite3
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
